@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Lato&family=Montserrat&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #1b1a1b;
font-family: 'Lato', sans-serif;
}

body[data-bs-theme="light"] {
    /* Agrega tus estilos para el modo claro aquí */
    background-color: rgb(247, 247, 247);
    color: black;
    /* ... otras reglas de estilo ... */
}

/*NAVBAR*/
.fa-lg {
    color: #5B8FB9; 
}

.nav-link:hover,
.nav-link.active:hover,
.fa-lg:hover,
.navbar-brand:hover,
.fa-cart-shopping:hover {
    color: #75d7f0; 
}

/* ?Logo */
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.logo-animation {
    animation: scale 5s ease-in-out infinite; 
}

/* Idiomas */
.btn.dropdown-toggle {
    background-color: transparent; 
    color: #5B8FB9; 
    border: 1px solid #5B8FB9; 
}

.dropdown-divider {
    border-color: #5B8FB9;
}

.bandera-img,
.moneda-img 
{
    width: 20px; 
    margin-right: 5px; 
    height: auto;
    vertical-align: middle;
}

/* Barra de búsqueda */

.custom-search-button {
    background-color: #1b1a1b; /* Cambia esto al color de fondo deseado */
    border: 1px solid #5B8FB9; /* Cambia esto al color del borde deseado */
    color: #5B8FB9; /* Cambia esto al color del texto deseado */
}

.custom-search-form {
    background-color: #1b1a1b; /* Cambia esto al color de fondo deseado */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Ajusta el radio del borde según sea necesario */
}

.custom-search-form input {
    background-color: #1b1a1b; /* Cambia esto al color de fondo del campo de entrada */
    color: #f7f4f4; /* Cambia esto al color del texto del campo de entrada */
    border: 1px solid #5B8FB9; /* Cambia esto al color del borde del campo de entrada */
    border-radius: 5px; /* Ajusta el radio del borde según sea necesario */
    padding: 5px; /* Ajusta el relleno del campo de entrada según sea necesario */
}

input:focus {
    color: #f7f4f4; /* Cambia el color del texto cuando el input está enfocado */
    background-color: #1b1a1b; /* Cambia el color de fondo cuando el input está enfocado */
}
body[data-bs-theme="light"] .custom-search-button {
    background-color: rgb(247, 247, 247); /* Color de fondo del botón de búsqueda en modo claro */
    border: 1px solid #5B8FB9; /* Color del borde del botón de búsqueda en modo claro */
    color: #5B8FB9; /* Color del texto del botón de búsqueda en modo claro */
    /* Agrega otras reglas de estilo para el botón de búsqueda en modo claro */
}

body[data-bs-theme="light"] .custom-search-form {
    background-color: rgb(247, 247, 247); /* Color de fondo del formulario de búsqueda en modo claro */
     /* Color del borde del formulario de búsqueda en modo claro */
    /* Agrega otras reglas de estilo para el formulario de búsqueda en modo claro */
}

body[data-bs-theme="light"] .custom-search-form input {
    background-color: rgb(247, 247, 247); /* Color de fondo del campo de entrada de búsqueda en modo claro */
    color: #fff; /* Color del texto del campo de entrada de búsqueda en modo claro */
    border: 1px solid #5B8FB9; /* Color del borde del campo de entrada de búsqueda en modo claro */
    /* Agrega otras reglas de estilo para el campo de entrada de búsqueda en modo claro */
}

/* Modo claro/oscuro */

.custom-switch .custom-control-input {
    display: none;
}

.custom-switch .switch-bar {
    background-color: #ddd;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px; /* Espacio interior entre los íconos y el switch bar */
    cursor: pointer; /* Cambia el cursor al pasar sobre el switch */
    transition: background-color 0.3s;
}

.custom-switch .switch-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: left 0.3s;
}

.custom-switch .switch-icon {
    font-size: 1.2rem;
}

.custom-switch .custom-control-input:checked + .custom-control-label .switch-bar {
    background-color: #5B8FB9;
}

.custom-switch .custom-control-input:checked + .custom-control-label .switch-thumb {
    left: 30px;
}

/* User */


.close-btn {
    background: url('/img/close.png') no-repeat center center;
    background-size: contain;
    width: 30px; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Ajusta el alto según tus necesidades */
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.btn-primary {
    background-color: #5B8FB9;
    border-color: #5B8FB9;
    color: #fff; 
}

.btn-secondary {
    background-color: #5B8FB9;
    border-color: #5B8FB9;
    color: #fff; 
}

.modal-content {
    background-color: #1b1a1b;
    color: #fff;
}
.modal-content input {
    background-color: #1b1a1b; /* Fondo del input */
    border-color: #5B8FB9; /* Borde del input */
    color: #fff; /* Color del texto del input */
}
/* Estilo para los placeholders de los campos de entrada */
.form-control::placeholder {
    color: #ccc; /* Color del marcador de posición */
}

/* Carrousel */

body[data-bs-theme="dark"] .carousel-indicators {
    display: none;
}
body[data-bs-theme="light"] .carousel-indicators {
    display: none;
}

/*Productos*/
.card-body {
margin-top: 20px;

}

.price-highlight {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos específicos para el modo oscuro */
body[data-bs-theme="dark"] .bg-neutral {
    background-color: #212529; 
    color: #ecf0f1; 
}

.btn-resaltar {
    font-weight: bold; 
    background-color: #638b94; 
    border-color: #638b94; 
    color: #000; 
    font-family: Lato, sans-serif;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; 
}

.card-title {
font-family: 'Lato', sans-serif;
font-weight: bold;
}

/* Botón COMPRAR*/

.btn-resaltar {
    background-color: #638b94 ; 
    border-color: #638b94; 
    color: #000; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; 
}

  .btn-resaltar:hover { /*Reacción al pasar el mouse */
    background-color: #7dc2c3; 
    border-color: #7dc2c3; 
    color: #000; 
}

/*?Pagina Carrito */

.fa-cart-shopping {
color: #5B8FB9;
}

.tarjetas img {
    width: 30px;
}

/* Estilos para modo oscuro */
body[data-bs-theme="dark"] #trash-button {
    color: #5B8FB9; /* Color de tu marca en modo oscuro */
    border: 2px solid #5B8FB9; /* Contorno del botón en modo oscuro */
    background: transparent; /* Fondo transparente en modo oscuro */
}

body[data-bs-theme="dark"] #trash-button:hover {
    color: #FF0000; /* Color rojo en hover en modo oscuro */
    border-color: #FF0000; /* Contorno rojo en hover en modo oscuro */
}

/* Estilos para modo claro */
body[data-bs-theme="light"] #trash-button {
    color: #5B8FB9; /* Color de tu marca en modo claro */
    border: 2px solid #5B8FB9; /* Contorno del botón en modo claro */
    background: transparent; /* Fondo transparente en modo claro */
}

body[data-bs-theme="light"] #trash-button:hover {
    color: #FF0000; /* Color rojo en hover en modo claro */
    border-color: #FF0000; /* Contorno rojo en hover en modo claro */
}



/*Iconos y Footer*/

footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #000;
    background-color: #212529;
}

body[data-bs-theme="light"] .footer-container {
background-color: white;
}

.nav-link {
color: white;
}

.footer-logo {
    margin-right: 20px;
}

.redes-sociales ul {
    list-style: none;
    display: flex;
    margin-left: 0px;
    align-items: center;
}

.redes-sociales ul li {
    margin-right: 20px;
}

.redes-texto {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-left: 10px;
}
.social-icon {
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 15px;
    transition: background-color 0.5s ease;
    color: white;
    }

.social-icon:hover {
    background-color: #7dc2c3;
}

.footer-info {
    font-weight: bold;
    margin-left: auto;
    text-align: right;
    margin-right: 10px;
}

body[data-bs-theme="light"] .footer-container {
    background-color: #f7f7f7; /* Cambia el color de fondo del pie de página en modo claro */
    border-top-color: #ddd; /* Cambia el color de la línea superior en modo claro */
}

body[data-bs-theme="light"] .redes-texto,
body[data-bs-theme="light"] .social-icon,
body[data-bs-theme="light"] .nav-item,
body[data-bs-theme="light"] .footer-info {
    color: #333; 

}

body[data-bs-theme="light"] .social-icon {
    border-color: #333; 
}

body[data-bs-theme="light"] .social-icon:hover {
    background-color: #7dc2c3; 
}

body[data-bs-theme="light"] .nav-link {
    color: #333; 
}

body[data-bs-theme="light"] .nav-link:hover {
    color: #7dc2c3; /* Cambia el color del texto al pasar el mouse en modo claro */
}

/* ?Pagina Nosotros */
/* Estilos para modo oscuro */
body[data-bs-theme="dark"] .nosotros {
    background-color: var(--color-oscuro);
    color: white;
}

body[data-bs-theme="dark"] .titulo-destacado .text-info,
body[data-bs-theme="dark"] .text-info {
    color: var(--color-destacado);
}

/* Estilos para modo claro */
/* Estilos para modo claro */
body[data-bs-theme="light"] .nosotros {
    background-color: var(--color-claro);
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor del contenido */
}

body[data-bs-theme="light"] .titulo-destacado .text-info,
body[data-bs-theme="light"] .text-info {
    color: var(--color-destacado);
}

:root {
    --color-oscuro: #222; /* Color de fondo para modo oscuro */
    --color-claro: #fcfcfc; /* Color de fondo para modo claro */
    --color-destacado: #5B8FB9; /* Color de marca */
}

body[data-bs-theme="dark"] .nosotros h1,
body[data-bs-theme="dark"] .nosotros h2,
body[data-bs-theme="dark"] .nosotros h3,
body[data-bs-theme="dark"] .nosotros h4,
body[data-bs-theme="dark"] .nosotros h5,
body[data-bs-theme="dark"] .nosotros h6,
body[data-bs-theme="dark"] .nosotros p {
    color: white;
}

body[data-bs-theme="light"] .nosotros h1,
body[data-bs-theme="light"] .nosotros h2,
body[data-bs-theme="light"] .nosotros h3,
body[data-bs-theme="light"] .nosotros h4,
body[data-bs-theme="light"] .nosotros h5,
body[data-bs-theme="light"] .nosotros h6,
body[data-bs-theme="light"] .nosotros p {
    color: black;
}


/* ?Pagina contacto */

body[data-bs-theme="dark"] .contacto-formulario input,
body[data-bs-theme="dark"] .contacto-formulario textarea {
    color: white;
    background-color: #222; /* Fondo oscuro para los campos de formulario en modo oscuro */
    /* Otros estilos necesarios para los campos de formulario en modo oscuro */
}

/* Estilos para modo claro */
body[data-bs-theme="light"] .contacto-formulario input,
body[data-bs-theme="light"] .contacto-formulario textarea {
    color: black;
    background-color: #fff; /* Fondo claro para los campos de formulario en modo claro */
    /* Otros estilos necesarios para los campos de formulario en modo claro */
}
